@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ee2b8c;
  --color-background-light: #f8f6f7;
  --color-background-dark: #221019;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
